<!-- main.hbs-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example App</title>
    </head>

    <body>
        <header>
            <div>
                <h1>Bedford Library Management System</h1>
            </div>
        </header>
        <nav>
                [ 
                <a href="./">Home</a>
                |
                <a href="./members">Members</a>
                | 
                <a href="./books">Books</a>
                | 
                <a href="./authors">Authors</a>
                | 
                <a href="">Book Copies (NOT YET READY)</a>
                | 
                <a href="">Checkouts (NOT YET READY)</a> 
                ]
        </nav>
        {{{body}}}
    </body>

    <footer>
        <div>
            <p>© 2023 Peterson Julian, Long To Lotto Tang</p>
        </div>
    </footer>
</html>