<html>
    <head>
        <title>Authors</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Authors</h1>
        [ 
        <a href="index.html">Home</a>
         |
        <a href="members.html">Members</a>
         | 
        <a href="books.html">Books</a>
        | 
        <a href="authors.html">Authors</a>
         | 
        <a href="bookCopies.html">Book Copies</a>
         | 
        <a href="checkouts.html">Checkouts</a> 
        ] 
        <div id="browse" style="display: block">
        <p>
            <strong>Browse Authors</strong>
        </p>
        <table border="1" cellpadding="5">
            <tbody>
                <tr>
                    <th>
                        <a href="#">Add New Author</a>
                    </th>
                    <th></th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Author</a>
                    </td>
                    <td>
                        <a href="#">Delete Author</a>
                    </td>
                    <td>1</td>
                    <td>Christie</td>
                    <td>Tate</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Author</a>
                    </td>
                    <td>
                        <a href="#">Delete Author</a>
                    </td>
                    <td>2</td>
                    <td>Salman</td>
                    <td>Rushdie</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Author</a>
                    </td>
                    <td>
                        <a href="#">Delete Author</a>
                    </td>
                    <td>3</td>
                    <td>Eleanor</td>
                    <td>Shearer</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Author</a>
                    </td>
                    <td>
                        <a href="#">Delete Author</a>
                    </td>
                    <td>4</td>
                    <td>Jen</td>
                    <td>Beagin</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Author</a>
                    </td>
                    <td>
                        <a href="#">Delete Author</a>
                    </td>
                    <td>5</td>
                    <td>Terry</td>
                    <td>Pratchett</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Author</a>
                    </td>
                    <td>
                        <a href="#">Delete Author</a>
                    </td>
                    <td>6</td>
                    <td>Neil</td>
                    <td>Gaiman</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
    <div id="insert" style="display: block">
        <form id="addAuthor">
            <legend>
                <strong>Add Author</strong>
            </legend>
            <fieldset class="fields">
                <label>First Name: </label>
                <input type="text" name="authorFirstName">
                <label>Last Name: </label>
                <input type="text" name="authorLastName">
            </fieldset>
            <input class="btn" type="submit" id="addAuthor" value="Add Author">
        </form>
    </div>
    <div id="update" style="display: block">
        <form id="editAuthor">
            <legend>
                <strong>Edit Author</strong>
            </legend>
            <fieldset class="fields">
                <label>First Name: </label>
                <input type="text" name="authorFirstName" value="Terry">
                <label>Last Name: </label>
                <input type="text" name="authorLastName" value="Pratchett">
            </fieldset>
            <input class="btn" type="submit" id="editAuthor" value="Save Changes">
        </form>
    </body>
</html>