{{!-- Create a table --}}
<table id="author-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id and title, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.authorID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td><button type="button">Update</button></td>
            <td><button type="button">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<form id="add-author-form-ajax">
    <fieldset>
        <legend>Add Author</legend>
            <label for="input-author-firstName">First Name: </label>
            <input type="text" name="input-author-firstName" id="input-author-firstName">

            <label for="input-author-lastName">Last Name: </label>
            <input type="text" name="input-author-lastName" id="input-author-lastName">
            <input type="submit">
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_author.js"></script>

