<html>
    <head>
        <title>Books</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <h1>Books</h1>
            [ 
            <a href="index.html">Home</a>
            |
            <a href="members.html">Members</a>
            | 
            <a href="books.html">Books</a>
            | 
            <a href="authors.html">Authors</a>
            | 
            <a href="bookCopies.html">Book Copies</a>
            | 
            <a href="checkouts.html">Checkouts</a> 
            ]  
        </nav>
        <div id="browse" style="display: block">
            <p>
                <strong>Browse Books</strong>
                <br>
                Click the title of a book to see its author(s)
            </p>
            <table border="1" cellpadding="5">
                <tbody>
                    <tr>
                        <th>
                            <a href="#">Add New Book</a>
                        </th>
                        <th></th>
                        <th>ID</th>
                        <th>Title</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Edit Book</a>
                        </td>
                        <td>
                            <a href="#">Delete Book</a>
                        </td>
                        <td>1</td>
                        <td>
                            <a href=#>B.F.F.: A Memoir of Friendship Lost and Found</a>
                        </td></tr>
                    <tr>
                        <td>
                            <a href="#">Edit Book</a>
                        </td>
                        <td>
                            <a href="#">Delete Book</a>
                        </td>
                        <td>2</td>
                        <td>
                            <a href=#>Victory City: A Novel</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Edit Book</a>
                        </td>
                        <td>
                            <a href="#">Delete Book</a>
                        </td>
                        <td>3</td>
                        <td>
                            <a href=#>River Sing Me Home</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Edit Book</a>
                        </td>
                        <td>
                            <a href="#">Delete Book</a>
                        </td>
                        <td>4</td>
                        <td>
                            <a href=#>Big Swiss: A Novel</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Edit Book</a>
                        </td>
                        <td>
                            <a href="#">Delete Book</a>
                        </td>
                        <td>5</td>
                        <td>
                            <a href=#>Pretend I'm Dead: A Novel</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Edit Book</a>
                        </td>
                        <td>
                            <a href="#">Delete Book</a>
                        </td>
                        <td>6</td>
                        <td>
                            <a href=#>Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
        <div id="results" style="display: block">
            <p>
                <strong>View Author(s)</strong>
            </p>
            <table border="1" cellpadding="5">
                <tbody>
                    <tr>
                        <th>Book</th>
                        <th>Author</th>
                    </tr>
                    <tr>    
                        <td>Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch</td>
                        <td>Terry Pratchett</td>
                    </tr>
                    <tr>    
                        <td>Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch</td>
                        <td>Neil Gaiman</td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
        <div id="insert" style="display: block">
            <form id="addBook">
                <legend>
                    <strong>Add Book</strong>
                </legend>
                <fieldset class="fields">
                    <label>Book Title: </label>
                    <input type="text" name="bookTitle">
                    <label>Author: </label>
                    <select name="books" id="books">
                        <option value="1">Christie Tate</option>
                        <option value="2">Salman Rushdie</option>
                        <option value="3">Eleanor Shearer</option>
                        <option value="4">Jen Beagin</option>
                        <option value="5">Terry Pratchett</option>
                        <option value="6">Neil Gaiman</option>
                    </select>
                </fieldset>
                <input class="btn" type="submit" id="addMember" value="Add Book">
            </form>
        </div>
        <div id="update" style="display: block">
            <form id="editBook">
                <legend>
                    <strong>Edit Book</strong>
                </legend>
                    <fieldset class="fields">
                        <label for="books"> Book ID & Title: </label>
                        <select name="books" id="books">
                            <option value="1">1: "B.F.F.: A Memoir of Friendship Lost and Found"</option>
                            <option value="2">2: "Victory City: A Novel"</option>
                            <option value="3">3: "River Sing Me Home"</option>
                            <option value="4">4: "Big Swiss: A Novel"</option>
                            <option value="5">5: "Pretend I'm Dead: A Novel"</option>
                            <option value="6">6: "Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch"</option>
                        </select>
                        <p>
                            Updated Book Title: 
                            <input type="text" name="bookTitle" value="">
                        </p>
                    </fieldset>
                <input class="btn" type="submit" id="editBook" value="Save Changes">
            </form>
        </div>
    </body>
</html>