<html>
    <head>
        <title>Book Copies</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <h1>Book Copies</h1>
            [ 
            <a href="index.html">Home</a>
            |
            <a href="members.html">Members</a>
            | 
            <a href="books.html">Books</a>
            | 
            <a href="authors.html">Authors</a>
            | 
            <a href="bookCopies.html">Book Copies</a>
            | 
            <a href="checkouts.html">Checkouts</a> 
            ]  
        </nav>
        <div id="browse" style="display: block">
            <p>
                <strong>Book Copies</strong>
            </p>
            <table border="1" cellpadding="5">
                <tbody>
                    <tr>
                        <th>
                            <a href="#">Book Copies</a>
                        </th>
                        <th>Book Copy ID</th>
                        <th>Book ID</th>
                        <th>Book Title</th>
                        <th>Book Status</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>1</td>
                        <td>1</td>
                        <td>B.F.F.: A Memoir of Friendship Lost and Found</td>
                        <td>CHECKED-OUT</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>2</td>
                        <td>1</td>
                        <td>B.F.F.: A Memoir of Friendship Lost and Found</td>
                        <td>AVAILABLE</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>3</td>
                        <td>2</td>
                        <td>Victory City: A Novel</td>
                        <td>CHECKED-OUT</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>4</td>
                        <td>3</td>
                        <td>River Sing Me Home</td>
                        <td>CHECKED-OUT</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>5</td>
                        <td>3</td>
                        <td>River Sing Me Home</td>
                        <td>CHECKED-OUT</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>6</td>
                        <td>4</td>
                        <td>Big Swiss: A Novel</td>
                        <td>AVAILABLE</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>7</td>
                        <td>5</td>
                        <td>Pretend I'm Dead: A Novel</td>
                        <td>AVAILABLE</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Delete Book Copy</a>
                        </td>
                        <td>8</td>
                        <td>6</td>
                        <td>Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch</td>
                        <td>CHECKED-OUT</td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
        <div id="insert" style="display: block">
            <form id="newBookCopy">
                <legend>
                    <strong>New Book Copy</strong>
                </legend>
                <p>The dropdown list contains the registered books in the database system:</p>
                <fieldset class="fields">
                    <label for="books"> Book ID & Title: </label>
                    <select name="books" id="books">
                        <option value="1">1: "B.F.F.: A Memoir of Friendship Lost and Found"</option>
                        <option value="2">2: "Victory City: A Novel"</option>
                        <option value="3">3: "River Sing Me Home"</option>
                        <option value="4">4: "Big Swiss: A Novel"</option>
                        <option value="5">5: "Pretend I'm Dead: A Novel"</option>
                        <option value="6">6: "Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch"</option>
                    </select>
                </fieldset>
                <input class="btn" type="submit" id="newBookCopy" value="newBookCopy">
            </form>
        </div>
        <div id="findBookCopy" style="display: block">
            <form id="findBookCopy">
                <legend>
                    <strong>Find Book Copy</strong>
                    <p>Enter the keyword of a book title to display the relevent results</p>
                </legend>
                <fieldset class="fields">
                    <label>Keyword: </label>
                    <input type="text" name="bookKeyword" id="bookKeyword">
                </fieldset>
                <input class="btn" type="submit" id="addMember" value="Find">
            </form>
        </div>
    </body>
</html>