<html>
    <head>
        <title>Books</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Books</h1>
        [ 
        <a href="index.html">Home</a>
         |
        <a href="members.html">Members</a>
         | 
        <a href="books.html">Books</a>
        | 
        <a href="authors.html">Authors</a>
         | 
        <a href="bookCopies.html">Book Copies</a>
         | 
        <a href="checkouts.html">Checkouts</a> 
        ]  
        <div id="browse" style="display: block">
        <p>
            <strong>Browse Books</strong>
        </p>
        <table border="1" cellpadding="5">
            <tbody>
                <tr>
                    <th>
                        <a href="#">Add New Book</a>
                    </th>
                    <th></th>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Book</a>
                    </td>
                    <td>
                        <a href="#">Delete Book</a>
                    </td>
                    <td>1</td>
                    <td>B.F.F.: A Memoir of Friendship Lost and Found</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Book</a>
                    </td>
                    <td>
                        <a href="#">Delete Book</a>
                    </td>
                    <td>2</td>
                    <td>Victory City: A Novel</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Book</a>
                    </td>
                    <td>
                        <a href="#">Delete Book</a>
                    </td>
                    <td>3</td>
                    <td>River Sing Me Home</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Book</a>
                    </td>
                    <td>
                        <a href="#">Delete Book</a>
                    </td>
                    <td>4</td>
                    <td>Big Swiss: A Novel</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Book</a>
                    </td>
                    <td>
                        <a href="#">Delete Book</a>
                    </td>
                    <td>5</td>
                    <td>Pretend I'm Dead: A Novel</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Edit Book</a>
                    </td>
                    <td>
                        <a href="#">Delete Book</a>
                    </td>
                    <td>6</td>
                    <td>Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
    <div id="insert" style="display: block">
        <form id="addBook">
            <legend>
                <strong>Add Book</strong>
            </legend>
            <fieldset class="fields">
                <label>Book Title: </label>
                <input type="text" name="bookTitle">
            </fieldset>
            <input class="btn" type="submit" id="addMember" value="Add Member">
        </form>
    </div>
    <div id="update" style="display: block">
        <form id="editBook">
            <legend>
                <strong>Edit Book</strong>
            </legend>
            <fieldset class="fields">
                <label>Book Title: </label>
                <input type="text" name="bookTitle" value="B.F.F.: A Memoir of Friendship Lost and Found">
            </fieldset>
            <input class="btn" type="submit" id="editBook" value="Save Changes">
        </form>
    </body>
</html>