<html>
    <head>
        <title>Checkouts</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <h1>Checkouts</h1>
            [ 
            <a href="index.html">Home</a>
            |
            <a href="members.html">Members</a>
            | 
            <a href="books.html">Books</a>
            | 
            <a href="authors.html">Authors</a>
            | 
            <a href="bookCopies.html">Book Copies</a>
            | 
            <a href="checkouts.html">Checkouts</a> 
            ]  
        </nav>
        <div id="browse" style="display: block">
            <h3>
                Browse Checkouts
            </h3>
            <p>
                [Edit button functionality only accurate for Checkout #2]
            </p>
            <table border="1" cellpadding="5">
                <tbody>
                    <tr>
                        <th>
                            <button onClick="showNewCheckout()"> New Checkout </button>
                        </th>
                        <th>ID</th>
                        <th>Start Time</th>
                        <th>Returned?</th>
                        <th>Book Copy ID</th>
                        <th>Book Title</th>
                        <th>Member ID</th>
                        <th>Member Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <button value="1return" id="1return" display="inline" onClick="returnBook(this.id)"> Return Book </button>
                        </td>
                        <td>1</td>
                        <td>2023-02-04 14:12:54</td>
                        <td>0</td>
                        <td>4</td>
                        <td>Big Swiss: A Novel</td>
                        <td>1</td>
                        <td>Dorothy Andrews</td>
                        <td>
                            <button value="1" onClick="showEditCheckout()"> Edit </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button value="2return" id="2return" display="inline" onClick="returnBook(this.value)"> Return Book </button>
                        </td>
                        <td>2</td>
                        <td>2023-02-05 9:19:14</td>
                        <td>0</td>
                        <td>5</td>
                        <td>Pretend I'm Dead: A Novel</td>
                        <td>2</td>
                        <td>James Pressman</td>
                        <th>
                            <button value ="2" onClick="showEditCheckout()"> Edit </button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
        <div id="findMember" style="display: block">
            <form id="findMember">
                <legend>
                    <strong>Find Member</strong>
                    <p>Enter a member's phone number to find all checkouts they have made</p>
                </legend>
                <fieldset class="fields">
                    <label>Phone: </label>
                    <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    <p>&nbsp;</p>
                    <small>Format: 123-456-7890</small>
                </fieldset>
                <input class="btn" type="submit" id="addMember" value="Find">
            </form>
        </div>

        <div id="insert" style="display: none">
            <form id="newCheckout">
                <legend>
                    <strong>New Checkout</strong>
                </legend>
                <fieldset class="fields">
                    <label for="books"> Book Copy & Title: </label>
                    <select name="books" id="books">
                        <option value="1">1: "B.F.F.: A Memoir of Friendship Lost and Found"</option>
                        <option value="2">2: "B.F.F.: A Memoir of Friendship Lost and Found"</option>
                        <option value="3">3: "Victory City: A Novel"</option>
                        <option value="4">4: "River Sing Me Home"</option>
                        <option value="5">5: "River Sing Me Home"</option>
                        <option value="6">6: "Big Swiss: A Novel"</option>
                        <option value="7">7: "Pretend I'm Dead: A Novel"</option>
                        <option value="8">8: "Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch"</option>
                    </select>
                    <p>&nbsp;</p>
                    <label for="members"> Member telephone number: </label>
                    <input type="tel" name="members" id="membersNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    <small>Format: 123-456-7890</small>
                </fieldset>
                <input class="btn" type="submit" id="newCheckout" value="Check Out">
            </form>
        </div>
        
        <div id="edit" style="display: none">
            <form id="editCheckout">
                <legend>
                    <strong>Edit Checkout</strong>
                </legend>
                <fieldset class="fields">
                    <table border="1" cellpadding="5">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Start Time</th>
                                <th>Returned?</th>
                                <th>Book Copy ID</th>
                                <th>Book Title</th>
                                <th>Member ID</th>
                                <th>Member Name</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2023-02-05 9:19:14</td>
                                <td>0</td>
                                <td>5</td>
                                <td>Pretend I'm Dead: A Novel</td>
                                <td>2</td>
                                <td>James Pressman</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <label for="editBookCheckout" > 
                        <strong> 
                            Change book:
                        </strong>
                    </label>
                    <br>
                    <select name="editBookCheckout" id="editBookCheckout">
                        <option value="1">1: "B.F.F.: A Memoir of Friendship Lost and Found"</option>
                        <option value="2">2: "B.F.F.: A Memoir of Friendship Lost and Found"</option>
                        <option value="3">3: "Victory City: A Novel"</option>
                        <option value="4">4: "River Sing Me Home"</option>
                        <option value="5">5: "River Sing Me Home"</option>
                        <option value="6">6: "Big Swiss: A Novel"</option>
                        <option value="7">7: "Pretend I'm Dead: A Novel"</option>
                        <option value="8">8: "Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch"</option>
                    </select>
                    <br>
                    <br>
                    <label for="members" > 
                        <strong> 
                            Change member associated with this checkout:
                        </strong>
                    </label>
                    <br>
                    <input type="radio" id="newMember" name="changeMember" value="newMember">
                    <label for="newMember">                    
                        <input type="tel" name="members" id="members" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                        <small>
                            Format: 123-456-7890
                        </small>
                    </label>
                    <br>
                    <input type="radio" id="nullMember" name="changeMember" value="NULL">
                    <label for="nullMember"> No member associated with this checkout </label>
                    <br>
                    <br>
                    <label for="returned"> Is the book returned? </label>
                    <select name="returned" id="returned">
                        <option value="0"> No </option>
                        <option value="1"> Yes </option>
                    </select>
                    <br>
                    <br>
                </fieldset>
                <input onClick="confirmEdit()" class="btn" type="submit" id="editCheckout" value="Submit">
            </form>
        </div>


        <script type="text/javascript">

            function showEditCheckout() {
                const div_form = document.getElementById('edit');
                if (div_form.style.display === "none") {
                    div_form.style.display = "block";
                } else {
                    div_form.style.display = "none";
                }
            }

            function showNewCheckout() {
                const div_form = document.getElementById('insert');
                if (div_form.style.display === "none") {
                    div_form.style.display = "block";
                } else {
                    div_form.style.display = "none";
                }
            }

            function returnBook(checkout) {
                document.getElementById(checkout).style.display = 'none';
            }

            function confirmEdit() {
                return confirm ('Are you sure you want to submit these changes?');
            }


        </script>
    </body>
</html>