<html>
    <head>
        <title>Bedford Library</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <h1>Checkouts</h1>
            [ 
            <a href="index.html">Home</a>
            |
            <a href="members.html">Members</a>
            | 
            <a href="books.html">Books</a>
            | 
            <a href="authors.html">Authors</a>
            | 
            <a href="bookCopies.html">Book Copies</a>
            | 
            <a href="checkouts.html">Checkouts</a> 
            ]
        </nav> 
        <div id="welcome" style="display: block">
            <p>
                <strong>Welcome to the Bedford Library!</strong>
                <br>
                We'd be thrilled to have you join us.
            </p>
        </div>  
    </body>
</html>
